In [6]:
# Import relevant Libraries
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
from datetime import datetime, timedelta
import random

In [7]:
# try:
#     import matplotlib
#     print("matplotlib is installed. Version:", matplotlib.__version__)
# except ImportError:
#     print("matplotlib is NOT installed.")


# import matplotlib
# print(matplotlib.__version__)

ðŸ”¹ 1. Data Preparation

(i) Load the dataset from a CSV or generate 500â€“1000 random rows using numpy (e.g., random wallets, tokens, amounts).

(ii) Parse the timestamp column as datetime using pd.to_datetime.

In [9]:
# Load the dataset from a CSV
df = pd.read_csv("data/web3_token_transfers.csv")

In [3]:
df.head()

,sender_wallet,receiver_wallet,token,amount,timestamp,gas_used,tx_fee_usd
0,0xaed548b0ad2ad42d36a65fc9fbb7365290273735,0x6f0fa65da6805b547779f78d7ad8e2a1247cd860,UNI,234.63,2024-07-27 03:58:20,78134,3.71
1,0xadebdbe4ffde843c5c0942476dafed98f4081ed2,0xfab70b3d71fab174410d390a80a1377c72a41251,USDC,1505.06,2024-07-14 03:04:09,41491,9.32
2,0xe380d92bab460b09297a542e4b0198e2c87e43c6,0x322edf020491e29d79318e73fb976d1c4bf159e2,WBTC,658.37,2024-07-29 07:29:38,22341,2.63
3,0x262afa887ea89b1b66c12e70d25de9412bdf3ddb,0x8ce7e3767410f34c6db80d9bd87bb5503ae1a0e3,UNI,456.47,2024-07-20 06:26:24,65623,4.04
4,0x4d87bd4dc83166db001549b0f7dd10ed8172a979,0xaf6bb63813b74b9c62a370447287eb805b11c3ca,WBTC,84.81,2024-07-13 23:07:51,21338,4.60

In [4]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [5]:
df.head()

,sender_wallet,receiver_wallet,token,amount,timestamp,gas_used,tx_fee_usd
0,0xaed548b0ad2ad42d36a65fc9fbb7365290273735,0x6f0fa65da6805b547779f78d7ad8e2a1247cd860,UNI,234.63,2024-07-27 03:58:20,78134,3.71
1,0xadebdbe4ffde843c5c0942476dafed98f4081ed2,0xfab70b3d71fab174410d390a80a1377c72a41251,USDC,1505.06,2024-07-14 03:04:09,41491,9.32
2,0xe380d92bab460b09297a542e4b0198e2c87e43c6,0x322edf020491e29d79318e73fb976d1c4bf159e2,WBTC,658.37,2024-07-29 07:29:38,22341,2.63
3,0x262afa887ea89b1b66c12e70d25de9412bdf3ddb,0x8ce7e3767410f34c6db80d9bd87bb5503ae1a0e3,UNI,456.47,2024-07-20 06:26:24,65623,4.04
4,0x4d87bd4dc83166db001549b0f7dd10ed8172a979,0xaf6bb63813b74b9c62a370447287eb805b11c3ca,WBTC,84.81,2024-07-13 23:07:51,21338,4.60

ðŸ”¹ 2. Basic Exploration (Pandas)
Show the top 5 and bottom 5 rows.

Count the number of unique wallets (senders and receivers).

Count how many transactions each token has.

In [6]:
# the top 5
df.head(5)

,sender_wallet,receiver_wallet,token,amount,timestamp,gas_used,tx_fee_usd
0,0xaed548b0ad2ad42d36a65fc9fbb7365290273735,0x6f0fa65da6805b547779f78d7ad8e2a1247cd860,UNI,234.63,2024-07-27 03:58:20,78134,3.71
1,0xadebdbe4ffde843c5c0942476dafed98f4081ed2,0xfab70b3d71fab174410d390a80a1377c72a41251,USDC,1505.06,2024-07-14 03:04:09,41491,9.32
2,0xe380d92bab460b09297a542e4b0198e2c87e43c6,0x322edf020491e29d79318e73fb976d1c4bf159e2,WBTC,658.37,2024-07-29 07:29:38,22341,2.63
3,0x262afa887ea89b1b66c12e70d25de9412bdf3ddb,0x8ce7e3767410f34c6db80d9bd87bb5503ae1a0e3,UNI,456.47,2024-07-20 06:26:24,65623,4.04
4,0x4d87bd4dc83166db001549b0f7dd10ed8172a979,0xaf6bb63813b74b9c62a370447287eb805b11c3ca,WBTC,84.81,2024-07-13 23:07:51,21338,4.60

In [7]:
# bottom 5 rows
df.tail(5)

,sender_wallet,receiver_wallet,token,amount,timestamp,gas_used,tx_fee_usd
995,0x7d321f54337d3b2fe762d2f98cc65a08b33c8167,0x12b225c93d09fbfee50834d34bb976ba2ab744a4,USDC,48.03,2024-07-19 20:23:42,30503,1.63
996,0x99ffd9b436b447f0b75704c666c2e3387468aabc,0xad14eea793cb71aeec4914db1cd51b955768446a,USDC,1246.35,2024-07-06 01:06:21,81703,3.24
997,0xf2476d3a88703c2484581466c841db8ce62c411d,0x8233219c96b703195211f975be60343e130b66a5,WBTC,73.57,2024-07-29 12:05:32,85379,4.28
998,0xb7e4e6b50e93960442a38761471840f4a48cb869,0x199d63a67615ec83d45f91010f6c8206f711b2be,WBTC,1500.25,2024-07-27 03:40:11,78866,9.24
999,0xb21913e7f083654695aeeab90f1510468f1dc41e,0x9bca5940e7d53f22ca22245954f66ece9ab16af8,USDC,295.30,2024-07-21 23:44:32,37905,9.94

In [8]:
# Count the number of unique wallets (senders and receivers).

senders = pd.DataFrame(df['sender_wallet'])
receivers = pd.DataFrame(df['receiver_wallet'])
all_wallets = pd.concat([senders, receivers], ignore_index=True)
all_wallets


unique_wallets = all_wallets.nunique()
print(f"Number of unique wallet addresses: {unique_wallets}")

Number of unique wallet addresses: sender_wallet      1000
receiver_wallet    1000
dtype: int64

In [9]:
# Count how many transactions each token has.
token_counts = df['token'].value_counts()
print(token_counts)

token
WBTC    214
ETH     203
USDC    200
UNI     194
DAI     189
Name: count, dtype: int64

 ðŸ”¹ 3. Wallet Analysis
# Compute total amount sent and received by each wallet.

# Identify the top 5 wallets by total amount sent (group + sum + sort).

# Create a new column: net_flow = received - sent.

In [33]:
# Compute total amount sent and received by each wallet.

# Total sent per wallet
sent = df.groupby('sender_wallet')['amount'].sum().reset_index()
sent.rename(columns={'amount': 'total_sent'}, inplace=True)

# Total received per wallet
received = df.groupby('receiver_wallet')['amount'].sum().reset_index()
received.rename(columns={'amount': 'total_received'}, inplace=True)

# Merge sent and received into one table
wallets = pd.merge(sent, received, left_on='sender_wallet', right_on='receiver_wallet', how='outer')

# Fill NaNs with 0 (for wallets that only sent or only received)
wallets['sender_wallet'] = wallets['sender_wallet'].combine_first(wallets['receiver_wallet'])
wallets.drop(columns='receiver_wallet', inplace=True)
wallets.rename(columns={'sender_wallet': 'wallet'}, inplace=True)
wallets.fillna(0, inplace=True)

# Optional: convert columns to consistent type
wallets['total_sent'] = wallets['total_sent'].astype(float)
wallets['total_received'] = wallets['total_received'].astype(float)

# Show result
print(wallets)

                                          wallet  total_sent  total_received
0     0x0003c3872d1848ec2011e26ad7571c69370f9fd0      634.78            0.00
1     0x0034126c0d51266516fd65d12f3c9a67f04062fa      138.44            0.00
2     0x005f673297464a3a9b8657e7f9d1a19e6d62f0f7       26.53            0.00
3     0x00906f78509cf901863c7f6980e32877871b784e      452.03            0.00
4     0x00fafa59c53d3dd96f5ce0c922ea899710e33c56      136.02            0.00
...                                          ...         ...             ...
1995  0xffab6a48a594ca3dea01cbcb44673475c863b7d1      380.27            0.00
1996  0xffb6056e48b4eec9ef93d6fb825d7736a5e1919c        0.00          656.28
1997  0xffd0af93e3570caac85652b2842369c8c22befcd       23.26            0.00
1998  0xffd362f45a8736314fa0278a959bf14c4f4ffdfe     1298.94            0.00
1999  0xfff2203dcedf4f760a54ad07236a3498cbeab07b     1624.55            0.00

[2000 rows x 3 columns]

In [34]:
# Identify the top 5 wallets by total amount sent (group + sum + sort).

top_senders = wallets.sort_values(by=['total_sent'], ascending=False)

top_senders.head(5)

                                          wallet  total_sent  total_received
1650  0xd538f9c05ec121d00f70a00aa58b4ea2b7339a54     4086.22             0.0
66    0x0a83fcafb15e96514ef61020d4c96714a42bd923     2884.04             0.0
1577  0xcc3f561f13db4c0a50c9f71ef693cf59eef2ba25     2847.44             0.0
113   0x1172060a8e20eb50ab9194d2780e99a42c9ac008     2478.41             0.0
741   0x64182502c1b1b4d6584998fc33358956434d2dc4     2328.50             0.0

In [35]:
# Create a new column: net_flow = received - sent.

wallets['net_flow'] = wallets['total_received'] - wallets['total_sent']

wallets.sort_values(by=['net_flow'], ascending=False)

,wallet,total_sent,total_received,net_flow
486,0x41fa64b5778a5b75f7bc268a206da1213e918bbe,0.00,4086.22,4086.22
6,0x0114a8e880508bfe99f6c996096380067a1c6b7a,0.00,2884.04,2884.04
1457,0xbb026b16b326e5f371895e733acdd551a67782f0,0.00,2847.44,2847.44
1396,0xb25cee0b7a9853576b3532f996eabb1fad16d4cb,0.00,2478.41,2478.41
499,0x43a4c923ca61d288fa9dd081f33f2b6853bdf8cf,0.00,2328.50,2328.50
...,...,...,...,...
741,0x64182502c1b1b4d6584998fc33358956434d2dc4,2328.50,0.00,-2328.50
113,0x1172060a8e20eb50ab9194d2780e99a42c9ac008,2478.41,0.00,-2478.41
1577,0xcc3f561f13db4c0a50c9f71ef693cf59eef2ba25,2847.44,0.00,-2847.44
66,0x0a83fcafb15e96514ef61020d4c96714a42bd923,2884.04,0.00,-2884.04
1650,0xd538f9c05ec121d00f70a00aa58b4ea2b7339a54,4086.22,0.00,-4086.22

4. Token Analysis
Find the average, median, and standard deviation of amount per token (use .agg()).

Identify the token with the highest transaction volume (in total amount, not count).

Plot a bar chart showing total amount transferred per token using matplotlib.

In [36]:
# Find the average, median, and standard deviation of amount per token (use .agg()).

stats = df.groupby('token')['amount'].agg(
    average='mean',
    median='median',
    std_dev='std'
).reset_index()

print(stats)

  token     average   median     std_dev
0   DAI  454.243386  316.210  456.309472
1   ETH  505.486502  365.730  524.465758
2   UNI  478.323196  305.365  497.945907
3  USDC  518.157150  367.185  507.707334
4  WBTC  473.650093  349.240  443.158188

In [37]:
# Identify the token with the highest transaction volume (in total amount, not count).

# Group by token and sum the amount
volume_per_token = df.groupby('token')['amount'].sum().reset_index()

# Sort in descending order to find the highest
top_token = volume_per_token.sort_values(by='amount', ascending=False).head(1)

print(top_token)

  token     amount
3  USDC  103631.43

ðŸ”¹ 5. Time-based Analysis
Group data by day (timestamp.dt.date) and compute:

Number of transactions per day

Total volume per day

Average transaction size per day

In [38]:
# Ensure 'timestamp' column is in datetime format
df['timestamp'] = pd.to_datetime(df['timestamp'])

# Extract date from timestamp
df['date'] = df['timestamp'].dt.date

# Group by date
daily_stats = df.groupby('date').agg(
    transactions_per_day=('amount', 'count'),
    total_volume_per_day=('amount', 'sum'),
    average_tx_size_per_day=('amount', 'mean')
).reset_index()

print(daily_stats.head())

         date  transactions_per_day  total_volume_per_day  \
0  2024-07-01                    28              11886.22
1  2024-07-02                    33              16560.16
2  2024-07-03                    23               8569.60
3  2024-07-04                    32              18195.10
4  2024-07-05                    34              13713.53

   average_tx_size_per_day
0               424.507857
1               501.823030
2               372.591304
3               568.596875
4               403.339118

ðŸ”¹ 6. Gas & Fee Analysis (NumPy + Pandas)
Use numpy to:

Compute total gas used per token

Calculate the average fee in USD using NumPyâ€™s np.mean()

Identify the top 3 most expensive transactions (based on tx_fee_usd).

In [39]:


# # 1. Compute total gas used per token
# total_gas_per_token = df.groupby('token')['gas'].sum()
# print("Total gas used per token:\n", total_gas_per_token)

In [40]:
# 2. Calculate the average transaction fee in USD using NumPy
average_fee_usd = np.mean(df['tx_fee_usd'])
print("\nAverage transaction fee in USD:", average_fee_usd)

Average transaction fee in USD: 5.24938

In [41]:
# # 3. Identify the top 3 most expensive transactions based on tx_fee_usd
# top_3_expensive_tx = df.nlargest(3, 'tx_fee_usd')
# print("\nTop 3 most expensive transactions:\n", top_3_expensive_tx[['from', 'to', 'token', 'amount', 'tx_fee_usd']])

ðŸ”¹ 7. Advanced Challenges
1. Create a pivot table: Rows = Token, Columns = Day, Values = Total amount transferred

2. Use apply() to tag transactions as:

    low if amount < 100

    medium if 100 <= amount <= 1000

    high if amount > 1000

3. Use np.where() to create a binary feature: is_large_tx (1 if amount > 1000, else 0)

In [ ]:
# 1. Create a pivot table: Rows = Token, Columns = Day, Values = Total amount transferred

df['date'] = pd.to_datetime(df['timestamp']).dt.date  # extract just the date

pivot_table = df.pivot_table(
    values='amount',
    index='token',
    columns='date',
    aggfunc='sum',
    fill_value=0
)

print(pivot_table)

date   2024-07-01  2024-07-02  2024-07-03  2024-07-04  2024-07-05  2024-07-06  \
token
DAI        981.03     3293.77     1098.44     1429.71     2150.39     4961.15
ETH       4437.94     3387.59     2179.93     2631.23     2163.15     1396.71
UNI       1365.56     3226.33     1139.66     4812.17     3343.93     2662.74
USDC      3315.54     4156.94     2153.10     5980.24     4019.92     3759.70
WBTC      1786.15     2495.53     1998.47     3341.75     2036.14     3661.97

date   2024-07-07  2024-07-08  2024-07-09  2024-07-10  ...  2024-07-21  \
token                                                  ...
DAI       1459.46     2778.56     5690.08     2873.41  ...     4683.88
ETH       5213.51     7382.79     1054.12     4103.09  ...     1324.07
UNI       2526.87     4525.55     2530.37      240.37  ...     1186.67
USDC      4501.74     1489.73     2647.31     3573.40  ...     5045.03
WBTC      3547.89     4055.82     3585.88      935.94  ...     7192.64

date   2024-07-22  2024-07-23  2024-07-24  2024-07-25  2024-07-26  2024-07-27  \
token
DAI       5082.96     1274.72     5799.61     2187.39     2362.51     3811.85
ETH       2011.65     1013.46     4403.55     3904.14     1632.84     2521.84
UNI       4703.19     2651.29     3757.96     4080.85     4372.96     4908.37
USDC      3625.93     5466.10     3349.96     2314.46     1959.97     4458.44
WBTC      6496.35     6356.13     4042.02     4023.45      712.79     3548.41

date   2024-07-28  2024-07-29  2024-07-30
token
DAI       5424.34     2521.41     3661.26
ETH       4941.49     1868.99     3092.18
UNI       4156.40     2501.23     4340.96
USDC      3199.36      978.38     2464.37
WBTC      5095.99     6346.91     5295.82

[5 rows x 30 columns]

In [43]:
# 2. Use apply() to tag transactions as:

#     low if amount < 100

#     medium if 100 <= amount <= 1000

#     high if amount > 1000


def tag_amount_level(amount):
    if amount < 100:
        return 'low'
    elif amount <= 1000:
        return 'medium'
    else:
        return 'high'

df['amount_level'] = df['amount'].apply(tag_amount_level)
print(df[['amount', 'amount_level']].head())

    amount amount_level
0   234.63       medium
1  1505.06         high
2   658.37       medium
3   456.47       medium
4    84.81          low

In [44]:
# 3. Use np.where() to create a binary feature: is_large_tx (1 if amount > 1000, else 0)


df['is_large_tx'] = np.where(df['amount'] > 1000, 1, 0)
print(df[['amount', 'is_large_tx']].head())

    amount  is_large_tx
0   234.63            0
1  1505.06            1
2   658.37            0
3   456.47            0
4    84.81            0